<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dangserver.mapper.UserMapper">

    <select id="isExists" parameterType="String" resultType="int">
        select COUNT(*) from dang.user where tel = #{tel}
    </select>

    <select id="getUser" parameterType="String" resultType="User">
        select * from dang.user where tel = #{tel}
    </select>

    <select id="getAll" resultType="User">
        select * from user;
    </select>

    <insert id="addOne" parameterType="User">
        insert into user (tel, password, shoppingCartId) values (#{tel}, #{password}, #{shoppingCartId})
    </insert>

    <update id="updateCartInfo" parameterType="User">
        update user
            set cart_count = cart_count + #{cart_count},
                cart_price = cart_price + #{cart_price}
            where tel = #{tel};
    </update>
</mapper>